#rp-single-post .post-tags{ margin-top: 25px; }
#rp-single-post .post-tags a{
  border: 2px solid #c25b56;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  padding: 12px 24px;
  margin-right: 30px;
  margin-bottom: 25px;
  color: #c25b56;
  border-radius: 4px 4px 4px 4px;
  }
#rp-single-post .post-tags a:hover{ background-color: #c25b56; color: #fff; }
